{% extends 'base.html' %}
{% block title %}All Job Listings{% endblock %}
{% block content %}
<h1 class="mb-4">Job Openings</h1>

<form method="get" class="row g-3 mb-4">
  <div class="col-md-4">
    <input type="text" name="q" class="form-control" placeholder="Search jobs">
  </div>
  <div class="col-md-3">
    <input type="text" name="loc" class="form-control" placeholder="Location">
  </div>
  <div class="col-md-3">
    <select name="category" class="form-select">
      <option value="">All Categories</option>
      <option value="web development">Web development</option>
      <option value="backend">backend development</option>
      <option value="mobile app">mobile app development</option>
      <option value="design">UI/UX Design</option>
      <option value="data">Data Science</option>
      <option value="marketing">Digital Marketing</option>
      <option value="sales">Software testing</option>
      <option value="support">Customer Support</option>
      <option value="hr">CLoud  devops</option>
      <option value="finance">Finance</option>
    </select>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary w-100">
      <i class="bi bi-funnel-fill me-2"></i> Filter
    </button>
  </div>
</form>


<div class="list-group">
  {% for job in jobs %}
    <a href="{% url 'job_detail' job.id %}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ job.title }}</h5>
        <small>{{ job.posted_at|date:"M d, Y" }}</small>
      </div>
      <p class="mb-1">{{ job.company }} – {{ job.location }}</p>
      <small>{{ job.category }}</small>
    </a>
  {% empty %}
    <p>No jobs found.</p>
  {% endfor %}
</div>

<div class="my-4 text-center">
  <a href="{% url 'post_job' %}" class="btn btn-success">Post a New Job</a>
</div>
{% endblock %}
