<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
       <a class="navbar-brand" href="{% url 'job_list' %}">JobBoardX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'job_list' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Browse Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'company_list' %}">Companies</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'ats_analyzer' %}">ATS Analyzer</a>
                </li>
               

            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle"></i> {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                            {% if user.is_jobseeker %}
                                <li><a class="dropdown-item" href="{% url 'my_applications' %}">My Applications</a></li>
                            {% elif user.is_employer %}
                               <li><a class="dropdown-item" href="{% url 'manage_jobs' %}">Manage Jobs</a></li>
                                <li><a class="dropdown-item" href="{% url 'post_job' %}">Post a Job</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>